Repository fdnd-agency/oncollaboration, pull requests merged in 2025-08, with the labels that each got.

#180 Refactor/speaker page
  src/lib/Assemblages/speaker-info.svelte
  src/lib/Blocks/speaker-back-button.svelte
  src/lib/Constructions/speaker-featuredwebinars.svelte
  src/lib/index.js
  src/routes/speakers/[slug]/+page.svelte
Labels: Speaker, Release candidate

#181 Introduction page
  src/lib/Constructions/article.svelte
  src/lib/Constructions/home-hero.svelte
  src/lib/index.js
  src/routes/+layout.svelte
  src/routes/+page.svelte
  static/css/global.css
  static/images/welkom-image-desktop.png
Labels: must have, bouwen, Home, Release candidate

#189 Bug/remove main elements
  CONTRIBUTIONS.md
  contributions.md
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/contourings/+page.svelte
  src/routes/contourings/[slug]/+page.svelte
  src/routes/profile/+page.svelte
  src/routes/search/+page.svelte
  src/routes/speakers/[slug]/+page.svelte
  src/routes/webinars/+page.svelte
  src/routes/webinars/[slug]/+page.svelte
Labels: bouwen, Release candidate

#185 Call to action
  src/lib/Bricks/Button.svelte
  src/lib/Bricks/home-contourings-button.svelte
  src/lib/Bricks/home-doctors-button.svelte
  src/lib/Bricks/home-empty-button.svelte
  src/lib/Bricks/home-webinars-button.svelte
  src/lib/Constructions/cta.svelte
  src/lib/Constructions/home-call-to-action.svelte
  src/lib/index.js
  src/routes/+page.svelte
Labels: must have, bouwen, Home, Release candidate
